################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Operator/v14/.suo
/.vs/Operator/v14/.suo
/Operator/Operator/obj/Debug
/Operator/Operator.Android/Assets/AboutAssets.txt
*.txt
/Operator/Operator.Android/obj/Debug/__library_projects__/System.ObjectModel.stamp
/Operator/Operator.Android/Properties/AssemblyInfo.cs
/Operator/Operator/App.xaml
/packages/Xamarin.Forms.2.3.3.193/lib/portable-win+net45+wp80+win81+wpa81+MonoAndroid10+Xamarin.iOS10+xamarinmac20/Xamarin.Forms.Xaml.pdb
/Operator/Operator.Android/bin/Debug/FormsViewGroup.dll
/Operator/Operator/bin/Debug
/Operator/Operator.Android/bin/Debug
/Operator/Operator.Android/obj/Debug/android/assets
/Operator/Operator.Android/obj/Debug/android/bin
/Operator/Operator.Android/obj/Debug/android/operator/android/R.java
/Operator/Operator.Android/obj/Debug/android/src
/Operator/Operator.Android/obj/Debug/android/typemap.mj
/Operator/Operator.Android/obj/Debug/android/typemap.jm
/Operator/Operator.Android/obj/Debug/linkdst/Operator.Android.dll.mdb
/Operator/Operator.Android/obj/Debug/linkdst/Operator.Android.dll
/Operator/Operator.Android/obj/Debug/linksrc
/Operator/Operator.Android/obj/Debug/resourcecache
/Operator/Operator.Android/obj/Debug/__library_projects__
/Operator/Operator.Android/obj/Debug/_javac.stamp
/Operator/Operator.Android/obj/Debug/_dex_stamp
/Operator/Operator.Android/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Operator/Operator.Android/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Operator/Operator.Android/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Operator/Operator.Android/obj/Debug/strip.flag
/Operator/Operator.Android/obj/Debug/static.flag
/Operator/Operator.Android/obj/Debug/sdks.cache
/Operator/Operator.Android/obj/Debug/resourcepaths.cache
/Operator/Operator.Android/obj/Debug/R.cs.flag
/Operator/Operator.Android/obj/Debug/Operator.Android.pdb
/Operator/Operator.Android/obj/Debug/Operator.Android.dll
/Operator/Operator.Android/obj/Debug/Operator.Android.csprojResolveAssemblyReference.cache
/Operator/Operator.Android/obj/Debug/link.flag
/Operator/Operator.Android/obj/Debug/libraryprojectimports.cache
/Operator/Operator.Android/obj/Debug/libraryimports.cache
/Operator/Operator.Android/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Operator/Operator.Android/obj/Debug/Component.R.cs.flag
/Operator/Operator.Android/obj/Debug/build.props
/Operator/Operator.iOS/obj/iPhone/Debug
/packages
/Operator.Tests/obj/Debug
